<section class="content">
  <header class="content-title">
    <h1>Welcome to Digibooky</h1>
  </header>
  <div class="content-body">

    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>Developer remark:</strong> as authentication and authorization have not yet been implemented by the development team, you are signed-in as a random pre-existing member.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>Developer remark (2):</strong> Please don't use the browser refresh (<code>F5</code>), it will reset the routing. (if you did, navigate back to the root address)
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet diam nisl. Integer faucibus volutpat blandit. Suspendisse convallis metus sed egestas tincidunt. Nam varius viverra pulvinar. Morbi ut consectetur eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tristique mattis velit, cursus tempor ligula mollis sed. Praesent commodo turpis vel tortor pharetra, vel auctor purus posuere. Integer non venenatis orci, consectetur cursus mauris. Aliquam nec cursus sem. Phasellus dapibus mollis magna, in commodo est iaculis et.
    </p>

  </div>
</section>
