<section class="content">
  <header class="content-title">
    <h1>Books overview</h1>
  </header>
  <div class="content-body">

    <div class="row">

      <aside class="col-lg-2 col-12">

      </aside>

      <div class="col-lg-10 col-12">

        <div class="books-overview" *ngIf="books$ | async as books">

          <div class="card" *ngFor="let book of books">
            <img class="card-img-top img-fluid" src="assets/book.jpg" alt="{{book.title}}">
            <div class="card-body text-center">
              <h5 class="card-title">{{book.title}}</h5>
              <p class="card-text">by <strong>{{book.author.authorName.name}}</strong></p>
              <a href="#" class="btn btn-lg btn-block btn-primary">View this book</a>
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>
</section>
