html, body {
  height: 100%;
}

body {
  background: #8e9eab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #eef2f3, #e8e6e7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #eef2f3, #e8e6e7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.content {
  margin: 3rem;
  background-color: rgba(255,255,255,1);
  -webkit-box-shadow: 10px 10px 53px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 53px -12px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 53px -12px rgba(0,0,0,0.75);
}

.content-body {
  padding: 1rem;
}

.content-title {
  padding: 1rem;
  background: #FDC830;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

aside {
  border-right: #eaeaea dashed medium;
}

.card {
  width: 16.20rem;
  float: left;
  margin: 0 0 2rem 2rem;
  -webkit-box-shadow: 10px 10px 53px -12px rgba(0,0,0,0.25);
  -moz-box-shadow: 10px 10px 53px -12px rgba(0,0,0,0.25);
  box-shadow: 10px 10px 53px -12px rgba(0,0,0,0.25);
}

.card-title {
  height: 48px;
}

.card-text {
  height: 45px;
}

.btn {
  border: 0 none;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}

.btn-primary {
  background-color: #F37335;
  border: 0;
  -webkit-box-shadow: 10px 10px 30px -12px rgba(0,0,0,0.25);
  -moz-box-shadow: 10px 10px 30px -12px rgba(0,0,0,0.25);
  box-shadow: 10px 10px 30px -12px rgba(0,0,0,0.25);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background-color: #FDC830 !important;
  color: black;
  box-shadow: none;
}

.btn-primary:active, .btn-primary.active {
  background-color: #b78b27 !important;
  color: black !important;
  box-shadow: none !important;
}
