<section class="content" *ngIf="book$ | async; let book; else loading">
  <header class="content-title">
    <h1>{{book.title}}</h1>
  </header>
  <div class="content-body">

    <div class="row">

      <div class="col-12">

        <div class="books-detail">

          <div *ngIf="!book" class="alert alert-secondary" role="alert">
            <strong>Welp... </strong> we could not retrieve the book...
          </div>

          {{book.title}}

        </div>

        <ng-template #loading>
          <div class="alert alert-secondary" role="alert">
            We are retrieving the book's details...
          </div>
        </ng-template>

      </div>
    </div>

  </div>
</section>
