<section class="content" *ngIf="book$ | async; let book; else loading">
  <header class="content-title">
    <h1>{{book.title}}</h1>
  </header>
  <div class="content-body">
    <div class="row">

      <aside class="col-lg-2 col-12">
        <img class="card-img-top img-fluid" src="assets/book.jpg" alt="{{book.title}}">
      </aside>
      <div class="col-lg-10 col-12">
        <h2>Details</h2>
        <table class="table">
          <tbody>
          <tr>
            <th scope="row">Title</th>
            <td>{{book.title}}</td>
          </tr>
          <tr>
            <th scope="row">Written by</th>
            <td>{{book.author.authorName.name}}</td>
          </tr>
          <tr>
            <th scope="row">Isbn</th>
            <td>{{book.isbn}}</td>
          </tr>
          <tr>
            <th scope="row">Added on</th>
            <td>{{book.dateOfCreation | date}}</td>
          </tr>
          </tbody>
        </table>

        <h2>Copies</h2>

        <div class="no-copies" *ngIf="book.copiesOfBook.length === 0">
          <hr>
          <div class="alert alert-secondary" role="alert" >
            <strong>Unfortunately,</strong> we do not possess a copy of this book... <em>(probably Dave of the purchasing department is to blame for this)</em>
          </div>
        </div>

        <table class="table" *ngIf="book.copiesOfBook.length !== 0">
          <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Cover</th>
            <th scope="col">Comments</th>
            <th scope="col">Availability</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let bookCopy of book.copiesOfBook; let indexNumber = index ">
            <th scope="row">{{indexNumber + 1}}</th>
            <td>{{bookCopy.cover | lowercase}}</td>
            <td>{{bookCopy.comments | slice:0:200}}...</td>
            <td>{{bookCopy.availability | lowercase}}</td>
            <td><button class="btn btn-primary" [disabled]="bookCopy.availability !== 'AVAILABLE'">Borrow</button></td>
          </tr>
          </tbody>
        </table>

      </div>

    </div>
  </div>
</section>

<ng-template #loading>
  <section class="content">
    <header class="content-title">
      <h1>Loading...</h1>
    </header>
    <div class="content-body">
      <div class="alert alert-secondary" role="alert">
        We are retrieving the book's details...
      </div>
    </div>
  </section>
</ng-template>
